<a href="https://colab.research.google.com/github/Umme-Zaiba/Bots-/blob/main/Bots_on_social_Media.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DATASET - BOTS ON SOCIAL MEDIA

In [1]:
import pandas as pd 
df = pd.read_csv('https://raw.githubusercontent.com/Umme-Zaiba/Bots-/main/activity_botscore.csv')
df

          user_id   age  count   activity  bot_score_english
0           13616  4256  23279   5.469690           0.020441
1          614513  4124    525   0.127304           0.073133
2            5565  4313   8146   1.888709           0.041325
3           19783  4226   3510   0.830573           0.014311
4            2631  4351   8146   1.872213           0.058340
...           ...   ...    ...        ...                ...
11185  4915142355  3077  20290   6.594085           0.530100
11186  4918929727  3077  26841   8.723107           0.010001
11187  4920512909  3077  44037  14.311667           0.025888
11188  4910272047  3077   5780   1.878453           0.058340
11189  4923560931  3077  24936   8.103997           0.091313

[11190 rows x 5 columns]

2.Exploratory data analysis

In [2]:
df.size

55950

In [3]:
df.shape

(11190, 5)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11190 entries, 0 to 11189
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   user_id            11190 non-null  int64
 1   age                11190 non-null  int64
 2   count              11190 non-null  int64
 3   activity           11190 non-null  float64
 4   bot_score_english  11190 non-null  float64
dtypes: float64(2), int64(3)
memory usage: 437.2 KB

In [7]:
df.dtypes

user_id                int64
age                    int64
count                  int64
activity             float64
bot_score_english    float64
dtype: object

In [10]:
x = df.iloc[:,1:4]
x

        age  count   activity
0      4256  23279   5.469690
1      4124    525   0.127304
2      4313   8146   1.888709
3      4226   3510   0.830573
4      4351   8146   1.872213
...     ...    ...        ...
11185  3077  20290   6.594085
11186  3077  26841   8.723107
11187  3077  44037  14.311667
11188  3077   5780   1.878453
11189  3077  24936   8.103997

[11190 rows x 3 columns]

In [11]:
x = df.iloc[:,1:4].values
x

array([[4.25600000e+03, 2.32790000e+04, 5.46968985e+00],
       [4.12400000e+03, 5.25000000e+02, 1.27303589e-01],
       [4.31300000e+03, 8.14600000e+03, 1.88870856e+00],
       ...,
       [3.07700000e+03, 4.40370000e+04, 1.43116672e+01],
       [3.07700000e+03, 5.78000000e+03, 1.87845304e+00],
       [3.07700000e+03, 2.49360000e+04, 8.10399740e+00]])

In [12]:
y = df.iloc[:,4]
y

0        0.020441
1        0.073133
2        0.041325
3        0.014311
4        0.058340
           ...
11185    0.530100
11186    0.010001
11187    0.025888
11188    0.058340
11189    0.091313
Name: bot_score_english, Length: 11190, dtype: float64

In [9]:
y = df.iloc[:,4].values
y

array([0.0204408 , 0.07313295, 0.04132462, ..., 0.02588806, 0.05834   ,
       0.09131313])

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state = 0)

In [14]:
print(x.shape)
print(x_train.shape)
print(x_test.shape)

(11190, 3)
(8392, 3)
(2798, 3)

In [15]:
print(y.shape)
print(y_train.shape)
print(y_test.shape)

(11190,)
(8392,)
(2798,)

In [16]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

In [17]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [22]:
import numpy as np
y = np.asarray(df['bot_score_english'], dtype="|S6")

In [25]:
classifier = LogisticRegression()

In [26]:
classifier.fit(x, y)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [28]:
y_pred = classifier.predict(x_test) #USing the input testing values , we predict the output
y_pred

array([b'0.0653', b'0.0653', b'0.0653', ..., b'0.0653', b'0.0653',
       b'0.0653'], dtype='|S6')