<a href="https://colab.research.google.com/github/Umme-Zaiba/Glass-identificiation-dataset/blob/main/Glass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **DATA SCIENCE MINI PROJECT**

---

**DATASET**  -  **GLASS** 

This is a Glass Identification Data Set from UCI.It contains 10 attributes including id. The response is glass type(discrete 7 values)

**CONTENT**

Attribute Information:

Id number: 1 to 214 (removed from CSV file)
RI: refractive index
Na: Sodium (unit measurement: weight percent in corresponding oxide, as are attributes 4-10)
Mg: Magnesium
Al: Aluminum
Si: Silicon
K: Potassium
Ca: Calcium
Ba: Barium
Fe: Iron
Type of glass: (class attribute)
-- 1 building_windows_float_processed
-- 2 building_windows_non_float_processed
-- 3 vehicle_windows_float_processed
-- 4 vehicle_windows_non_float_processed (none in this database)
-- 5 containers
-- 6 tableware
-- 7 headlamps

#1.Take the data and create dataframe

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Umme-Zaiba/Bots-/main/Glass.csv')
df

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  Type
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0   1.0
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0   1.0
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0   1.0
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0   1.0
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0   1.0
..       ...    ...   ...   ...    ...   ...   ...   ...  ...   ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0   7.0
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0   7.0
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0   7.0
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0   7.0
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0   7.0

[214 rows x 10 columns]

#2.EDA

In [ ]:
df.size

2140

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RI      214 non-null    float64
 1   Na      214 non-null    float64
 2   Mg      214 non-null    float64
 3   Al      214 non-null    float64
 4   Si      214 non-null    float64
 5   K       214 non-null    float64
 6   Ca      214 non-null    float64
 7   Ba      214 non-null    float64
 8   Fe      214 non-null    float64
 9   Type    214 non-null    float64
dtypes: float64(10)
memory usage: 16.8 KB

 # 4.Divide the data into input and output

In [ ]:
x = df.iloc[:,0:9].values
x

array([[ 1.52101, 13.64   ,  4.49   , ...,  8.75   ,  0.     ,  0.     ],
       [ 1.51761, 13.89   ,  3.6    , ...,  7.83   ,  0.     ,  0.     ],
       [ 1.51618, 13.53   ,  3.55   , ...,  7.78   ,  0.     ,  0.     ],
       ...,
       [ 1.52065, 14.36   ,  0.     , ...,  8.44   ,  1.64   ,  0.     ],
       [ 1.51651, 14.38   ,  0.     , ...,  8.48   ,  1.57   ,  0.     ],
       [ 1.51711, 14.23   ,  0.     , ...,  8.62   ,  1.67   ,  0.     ]])

In [ ]:
y = df.iloc[:,9].values
y

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2.,
       2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2.,
       2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2.,
       2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2.,
       2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 3., 3., 3., 3., 3., 3., 3.,
       3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 5., 5., 5., 5., 5., 5., 5.,
       5., 5., 5., 5., 5., 5., 6., 6., 6., 6., 6., 6., 6., 6., 6., 7., 7.,
       7., 7., 7., 7., 7., 7., 7., 7., 7., 7., 7., 7., 7., 7., 7., 7., 7.,
       7., 7., 7., 7., 7., 7., 7., 7., 7., 7.])

# 5.Train and Test Variables

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=42)

In [ ]:
print(x.shape) #100 %
print(x_train.shape) #75% of x
print(x_test.shape)

(214, 9)
(160, 9)
(54, 9)

In [ ]:
print(y.shape) #100 %
print(y_train.shape) #75% of y
print(y_test.shape)

(214,)
(160,)
(54,)

# 6.NORMALISATION/SCALING

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

# 7. APPLY REGRESSOR

In [ ]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

#8.Fitting the model

In [ ]:
model.fit(x_train,y_train)

LogisticRegression()

#9.Predict the output

In [ ]:
y_pred = model.predict(x_test) #USing the input testing values , we predict the output
y_pred

array([2., 7., 2., 7., 2., 2., 1., 1., 1., 2., 2., 2., 2., 1., 2., 2., 2.,
       1., 1., 7., 2., 7., 7., 7., 2., 2., 2., 1., 2., 1., 2., 1., 2., 1.,
       1., 7., 5., 1., 2., 2., 2., 7., 1., 2., 2., 2., 2., 1., 2., 1., 1.,
       1., 2., 1.])

In [ ]:
y_test

array([1., 7., 1., 7., 2., 2., 1., 2., 2., 2., 6., 5., 2., 2., 6., 5., 7.,
       1., 1., 6., 2., 7., 7., 7., 3., 2., 1., 1., 5., 1., 1., 2., 3., 2.,
       1., 7., 5., 3., 2., 2., 2., 7., 1., 2., 3., 2., 2., 2., 2., 2., 1.,
       1., 1., 2.])

#10.Accuracy

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred,y_test)*100

55.55555555555556

INDIVIDUAL PREDICTION

In [ ]:
model.predict([[1.51766,14.26,0.00,2.88,73.54,0.00,9.84,1.55,0.0]])

array([7.])